* {
  text-decoration: none;
}
.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  justify-content: flex-start;
  padding-left: 12px;
  text-decoration: none;
}
.img {
  width: 12rem;
  height: 7rem;
}
.card {
  font-size: 25px;
  height: 14rem;
  width: 20rem;
  border: solid 1px black;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  background-color: #271717b0;
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1.5px black;
}

.genres {
  top: 5%;
  font-size: 20px;
  color: rgb(226, 14, 14);
  -webkit-text-stroke: 1px rgb(7, 7, 7);
}
